$main-height: calc(100vh - 230px);

body {

display: flex;
flex-direction: column;
min-height: 150vh;
width: 100%;
background-color: rgb(12, 0, 26);
}
header {
   position: fixed;
   top: 0;
   width: 100%;
   .wrapper {

   }
}
main {
   width: 100%;
   min-height: 500px;
   margin: 55vmin auto 2vmin;

   .table{
      width: 90%;
      min-height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin: auto;
      padding: 5%;
      border-radius: 3vmin;
      background: rgba(0, 0, 0, 0.3);
      box-shadow: inset 5px 5px 10px rgb(156, 181, 255),
      5px 5px 10px rgb(0, 15, 75);
      &__row{
         width: 80%;
         height: 3em;
         padding: 0 1em;
         line-height: 3em;
         font-size: 2em;
         border-radius: 1vmin;
         background: rgb(124, 87, 255);
         box-shadow: inset 3px 3px 5px rgb(156, 181, 255),
         3px 3px 5px rgb(0, 15, 75);
      }
   }
}

footer {
   margin-top: auto;
}
.wrapper {
   height: 50vmin; 
   overflow: hidden;
}
.svg-bg {
   height: 100%; 
   width: 100%;
}
