$main-height: calc(100vh - 230px);

body {

display: flex;
flex-direction: column;
min-height: 150vh;
width: 100%;
background-color: rgb(12, 0, 26);
}
header {
   z-index: 3;
   position: fixed;
   top: 0;
   width: 100%;
}
main {
   width: 100%;
   min-height: 500px;
   margin: 55vmin auto 2vmin;
}
#ST_container{

}

footer {
   margin-top: auto;
}
.wrapper {
   margin: 0;
   height: 50vmin; 
}
.svg-bg {
   overflow: hidden;
   height: auto;
   width: 100%;

   .wave {

   }
}
