.nav {
   position: relative;
   display: flex;
   justify-content: center;
   height: 50%;
   
   &__item {
      position: relative;
      width: fit-content;
      height: 5vmin;
      line-height: 4vmin;
      margin: auto;
      padding: 0px 10px;
      translate: transformY(50%);
      border: 3px solid rgb(106, 64, 255);
      border-radius: 2em;
      cursor: pointer;
      color: rgb(106, 64, 255);
      font-weight: bold;
      font-size: 2.5vmin;

      &:hover{
         background-color: rgb(126, 91, 255);
         color: inherit;
      }

   }
   #search_randomTV_btn{
      display: block;
   }
   #watchlist_btn{
      display: none;
   }

   &__no-results{
      display: none;
      width: fit-content;
      margin: auto;
      padding: 20px;
      font-size: 3em;
      color:rgb(126, 126, 126);
   }
}

.table{
   @include user-select(none);
   width: 90%;
   min-height: 500px;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   margin: auto;
   padding: 5%;
   border-radius: 3vmin;
   background: rgba(0, 0, 0, 0.3);
   box-shadow: inset 5px 5px 10px rgb(156, 181, 255),
   5px 5px 10px rgb(0, 15, 75);
   &__row{
      position: relative;
      width: 80%;
      height: 3em;
      padding: 0 1em;
      line-height: 3em;
      font-size: 1.2em;
      border-radius: 1vmin;
      background: rgb(124, 87, 255);
      box-shadow: inset 3px 3px 5px rgb(156, 181, 255),
      3px 3px 5px rgb(0, 15, 75);
      &:hover{
         cursor: -webkit-grab; 
         cursor: -moz-grab;
         cursor: grab;
      }
      &--active{
         z-index: 1;
         background-color: rgb(124, 87, 255);
         cursor: -webkit-grabbing !important; 
         cursor: -moz-grabbing !important;
         cursor: grabbing !important;
         box-shadow: inset 2px 2px 8px rgb(255, 255, 255),
         3px 3px 8px rgb(0, 0, 0);
      }
   }
}

.videos {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: center;
   margin: 0 $margin-video-card;
   &__video-card{
      position: relative;
      width: 70%;
      @media only screen and (min-width: 480px) {
         @include calc(width, #{"50% - #{$margin-video-card*2}"});
      }
      @media only screen and (min-width: 640px) {
         @include calc(width, #{"33% - #{$margin-video-card*2}"});
      }
      @media only screen and (min-width: 960px) {
         @include calc(width, #{"25% - #{$margin-video-card*2}"});
      }
      @media only screen and (min-width: 1280px) {
         @include calc(width, #{"20% - #{$margin-video-card*2}"});
      }
      @media only screen and (min-width: 1600px) {
         @include calc(width, #{"16% - #{$margin-video-card*2}"});
      }
      height: auto;
      margin: $margin-video-card $margin-video-card;
      color:rgb(124, 87, 255);
   }

   &__img-card{
      width: 100%;
      height: auto;
      border-radius: 0.5em;
   }
   &__btn-add-card {
      position: absolute;
      display: inline-block;
      width: 35%;
      margin: 0 auto;
      padding: 1px;
      box-shadow: 0px 8px 6px -8px rgb(124, 87, 255);
      background: linear-gradient(to bottom, rgba(86, 39, 255, 0.8) 5%, rgba(47, 25, 129, 1) 100%);

      border-radius: 5px;
      border: 2px solid rgb(89, 43, 255);
      cursor:pointer;
      color: rgba(255, 255, 255, .4);
      font-size: 0.8em;
      text-decoration:none;
      
      &:hover {
         color: rgba(255, 255, 255, 1);
         background: linear-gradient(to bottom, rgb(50, 190, 8) 10%, rgb(13, 56, 0) 100%);
         background-color: rgba(31, 131, 0, 1);
         box-shadow: 0px 8px 6px -8px rgb(32, 136, 0);
         border: 2px solid rgb(50, 190, 8)
      }
      &--on-watchlist{
         background-color: rgba(31, 131, 0, 1);
         background: linear-gradient(to bottom, rgba(31, 131, 0, 1) 5%, rgba(13, 54, 0, 1) 100%);
      }
   }
   &__title-card {
      padding: 2px;
      font-size: 1.2em;
      text-align: center;
   }
}

